.header {
	position: relative;
	z-index: -2;
	width: 100%;
	height: calc((1920px * 38px) / 1728px);
	background: #D9D9D9;
	@media (max-width: 1920px){
		height: calc((1920px * 1.98vw) / 1728px);
	}
	@media (max-width: 768px){
		height: 4.750vw;
	}
}