footer.footer
	.footer__container 
		.footer__top 
			span Дополнительную информацию вы всегда можете получить на официальном сайте 
			a(href="") 
				span Московского областного центра по профилактике и борьбе со СПИД и инфекционными заболеваниями — 
				span hivmo.ru.
		.footer__middle
			.footer__text
				span СПРАВКА
				|: в подмосковном Центре СПИД используются самые современные методики диагностики и лечения, 
				br
				|проводятся научные исследования. Налажена доверительная связь между врачом и пациентом, без которой бывает сложно 
				br
				|говорить о столь стигматизированном заболевании. В центре оказывают как медицинскую, так и юридическую и 
				br
				|психологическую поддержку ВИЧ-инфицированным. Связь с несколькими социально ориентированными НКО 
				br
				|позволяет наиболее полно помочь пациенту. Кроме того, в Московской области придерживаются методики 
				br
				|назначения лечения в день постановки диагноза, что позволяет как можно скорее остановить пагубное влияние 
				br
				|вируса на иммунную систему.
		.footer__bottom 
			|Сейчас в Московской области в рамках акции «Проверься на ВИЧ» сдать тест можно быстро, бесплатно и
			br
			|анонимно. Актуальную информацию о работе мобильных пунктов экспресс-тестирования ищите 
			a(href="https://vk.com/@hivmo-proversya-na-vich-blizhaishie-akcii ") 
				span тут 
		.footer__icons 
			a(href="").footer__icon 
				img(src="img/footer/1.svg", alt="alt")
			a(href="").footer__icon 
				img(src="img/footer/2.svg", alt="alt")
			a(href="").footer__icon 
				img(src="img/footer/3.svg", alt="alt")
			a(href="").footer__icon 
				img(src="img/footer/4.svg", alt="alt")
